@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

.container {
  max-width: 80vh;
  margin-top: 5vh;
  margin-left: 30vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    align-items: center;
}

.sum {
  margin: 15vh;
  padding: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.text{
    display: grid;
    gap: 20px;
    text-align: center;
}

.text h1, h3 {
    color: #1d4ed8;
}
.text p{
    color: #94a3b8;
    margin-bottom: 10px;
}

.sum input {
  border: none;
  padding: 0.7rem;
  border-radius: 9px;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


